<!-- Main App Component Template -->
<div class="app-container">
  <!-- Side Menu -->
  <div class="side-menu">
    <!-- Menu Items -->
    <div class="menu-items">
      <div
        class="menu-item"
        [class.active]="selectedApp === app"
        (click)="selectApp(app)"
        [ngSwitch]="app"
        *ngFor="let app of apps"
      >
        <i class="bi bi-palette-fill" *ngSwitchCase="'Theme'"></i>
        <i class="bi bi-music-note-beamed" *ngSwitchCase="'Music'"></i>
      </div>
    </div>
    <button class="menu-item menu-setting">
      <i class="bi bi-box-arrow-down-left"></i>
    </button>
  </div>

  <!-- Content Area -->
  <div class="content-area" [ngSwitch]="selectedApp">
    <app-theme class="" *ngSwitchCase="'Theme'"></app-theme>
  </div>
</div>
