<nav-bar></nav-bar>
<router-outlet></router-outlet>

<!-- Solid Color Background -->
<div
  *ngIf="backgroundType === 'color'"
  class="background-color"
  [ngStyle]="{ 'background-color': backgroundValue }"
></div>

<!-- Video Background -->
<video
  #bgVideo
  *ngIf="backgroundType === 'video'"
  autoplay
  [muted]="true"
  loop
  id="bg-video"
  [attr.data-key]="videoKey"
>
  <source [src]="backgroundValue" type="video/mp4" />
  Your browser does not support HTML5 video.
</video>

<!-- Image Background -->
<div
  *ngIf="backgroundType === 'image'"
  class="background-image"
  [ngStyle]="{ 'background-image': 'url(' + backgroundValue + ')' }"
></div>
