<div class="home-container">
  <app-box class="app-widget"></app-box>
  <app-clock class="clock-widget"></app-clock>
  <div class="corner-button">
    <button
      mat-raised-button
      matTooltip="Enable/Disable Notification Sound"
      (click)="toggleNotification()"
    >
      <i
        class="bi"
        [ngClass]="
          notificationEnabled
            ? ' bi-volume-down-fill'
            : 'bi bi-volume-mute-fill'
        "
        class="bi"
      ></i>
    </button>
  </div>
</div>
