@import "assets/themes/light-theme.scss";
@import "assets/themes/dark-theme.scss";

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Orbitron", sans-serif, monospace !important;
  min-height: 512px;

  button {
    border: none;
    background: none;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  transition: background-color 0.3s, color 0.3s;
}
