.info-dialog-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-table {
  display: grid;
  grid-template-columns: auto auto; // Creates 2 columns
  gap: 1rem; // Spacing between elements
  background-color: transparent; // Ensures transparency
  padding: 10px;
  font-size: 16px;
}

.info-label {
  font-weight: bold;
  text-align: left;
}

.info-value {
  text-align: right;
}

.author-bio {
  display: flex;
  margin: 2rem 0;
  gap: 2rem;

  .logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
}

.button-list {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  gap: 2rem;
}
