html.dark-theme {
  --home-background-color: #1e1e1e;
  --background-color: #121212;
  --text-color: #e0e0e0;
  --navbar-background-color: #1f1f1f;
  --navbar-height: 50px;
  --btn-text-color: #e0e0e0;
  --btn-no-bg-text-color: #d0d0d0;
  --btn-aux-color: #757575;
  --btn-aux-color-active: #bdbdbd;
  --play-button-color: #66bb6a;
  --pause-button-color: #ffb74d;
  --stop-button-color: #d32f2f;
  --btn-disabled-color: #424242;
  --btn-transparent-bg-color: #a3a3a32b;
  --btn-border-color: #ffffff7d;
}
