html.light-theme {
  /* Default Light Theme */
  --home-background-color: #f8f8f8ca;
  --background-color: #f8f9fa;
  --text-color: #333333;
  --navbar-background-color: #ffffff;
  --app-sidebar-bg-color: #b7b7b724;
  --navbar-height: 50px;
  --btn-text-color: #f5f5f5;
  --btn-no-bg-text-color: #2e2e2e;
  --btn-aux-color: #898989;
  --btn-aux-color-active: #393939;
  --play-button-color: #4caf50;
  --pause-button-color: #ffc107;
  --stop-button-color: #353535;
  --btn-disabled-color: #626262;
  --btn-transparent-bg-color: #3a3a3a47;
  --btn-border-color: #ffffff7d;
}
